.items-container {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 60%;
  margin: 0px auto;
}


.text-container {
  width: 60%;
  margin: 0px auto;
  

  h1 {
      font-size: 30px;
  }
}
.btn:hover {
  transform: scale(1.1);
}

.toggle-button {
  background-color: red;
  border: 1px solid #aaa;
  border-radius: 99px;
  width: 50px;
  height: 28px;
  transition: background-color 0.1s ease, border-color 0.2 ease;
  cursor: pointer;
  box-shadow: 1px 1px 5px rgb(0, 0. 0, 748);
  position: relative;
}

.toggle-button .thumb {
  height: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 99px;
  transform: translateX(0);
  transition: left 0.15s ease;
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
}

.toggle-button.toggled {
  background-color: green;
}




.toggle-button.toggled .thumb {
  left: calc(50px - 22px);
}

